.sign-up-container{
    display: grid;    
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.course-list{
    height: 200px;
    overflow-y: scroll;
}

.checkbox-element{
    padding: 5px 0 ;
}

.checkbox-element:nth-child(odd){
    background-color: var(--tertiary-color);
}

.checkbox-element label{
    font-size: 15px;;
}