.nav{
    grid-area: navigationbar;
    display: flex;
    justify-content: space-between;
    z-index: 0;
    background-color: #fff;
    height: min-content;
    width: 100%;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.user-profile{
    display: flex;
    place-items: center;
    gap: 10px;
}

.logout-btn{
    background-color: transparent !important;
    color: var(--primary-color) !important;
}

.logout-btn:hover{
    background-color: var(--primary-color) !important;
    color: #fff !important;
}