@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0px 0px; 
    padding: 0px 0px;
    box-sizing: border-box;
}

/* COLORS */
:root{
    --primary-color: hsl(215, 65%, 38%);
    --secondary-color: hsl(214, 85%, 81%);
    --tertiary-color: hsl(206, 80%, 96%);
}

:root:has(#blue:checked){
    --primary-color: hsl(215, 65%, 38%);
    --secondary-color: hsl(214, 85%, 81%);
    --tertiary-color: hsl(206, 80%, 96%);
}

:root:has(#green:checked){
    --primary-color: hsl(152, 21%, 34%);
    --secondary-color: hsl(150, 10%, 65%);
    --tertiary-color: hsl(156, 10%, 90%);
}

:root:has(#red:checked){
    --primary-color: hsl(350, 71%, 43%);
    --secondary-color: hsl(349, 55%, 80%);
    --tertiary-color: hsl(351, 47%, 97%);
}

:root:has(#yellow:checked){
    --primary-color: hsl(35, 90%, 63%);
    --secondary-color:hsl(35, 89%, 86%);
    --tertiary-color: hsl(37, 80%, 98%);
}

:root{
    /* GRAYS */
    --primary-gray: hsl(0, 0%, 20%);
    --secondary-gray: hsl(0, 0%, 70%);
    --tertiary-gray: hsl(0, 0%, 95%);

    /* COLOR REFERENCE */
    --primary-yellow: hsl(35, 90%, 63%);
    --primary-red: hsl(350, 71%, 43%);
    --primary-green: hwb(153 27% 59%);
    --primary-blue: hsl(215, 65%, 38%);
    
    --tertiary-yellow: hsl(37, 80%, 98%);
    --tertiary-red: hsl(351, 47%, 97%);
    --tertiary-green: hsl(156, 10%, 90%);
    --tertiary-blue: hsl(206, 80%, 96%);

    /* OTHER */
    --box-shadow: 0px 0px 25px hsla(0, 0%, 0%, 0.1);
    --transition: 300ms ease-in-out;
}

/* GENERAL */
h1, h2, h3, h4{
    font-weight: 700;
}

h1{
    font-size: 35px;
}

h2{
    font-size: 20px;
    color: var(--primary-color);
}

h3{
    font-size: 16px;
    /* font-weight: 400; */
}

p{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

li{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

a{
    font-size: 15px;
    color: var(--primary-color);
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    font-weight: 700;
}

a > p:hover{
    font-weight: 700;
}

.error{
    color: var(--primary-red);
}

input[type="radio"]{
    display: none;
}

/* BUTTONS */
.btn{
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 5px 15px;
    background-color: var(--primary-color);
    color: #fff;
    width: fit-content;
    height: min-content;
    font-weight: 700;
    font-size: 14px;
    border-radius: 10px;
}

.btn:hover{
    cursor: pointer;
}

.btn-close{
    background: none;
    color: var(--primary-gray);
    padding: 0;
}

.btn-delete{
    background: none;
    color: var(--primary-red);
    font-weight: 400;
}

/* USER ICONS */
.user-icon{
    /* USER ICON SIZE */
    --size: 25px;

    font-size: var(--size);
    width: var(--size);
    height: var(--size);
    line-height: var(--size);

    background-color: var(--tertiary-gray);
    
    border-radius: 10000px;
    text-align: center;
}

.user-icon-text {
    font-size: 0.4em;
    font-weight: 700;
    color: var(--primary-color);
    text-transform: uppercase;
}

/* SCROLL */
::-webkit-scrollbar {
    width: 5px;
  }

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-gray); 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-gray); 
}


/* INPUT FIELDS */
.input-field{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 10px;
    border: 1px solid var(--tertiary-gray);
    border-radius: 10px;
    justify-content: space-between;
}

.input-field input[type="text"]{
    border: none;
    line-height: 3;
    /* font-size: 15px; */
    color: var(--primary-color);
}

.input-field input:focus{
    outline: none;
}
