.chat-component{
    grid-area: chat-component;
    background-color: #fff;
    width: fit-content;
    height: fit-content;
    padding: 30px;
    margin: auto auto;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.chat-header-container{
    display: flex;
    margin: -30px -10px -30px -30px;
    align-items: center;
    justify-content: space-between;
}

.chat-header-container h2{
    color:#fff;
}

.chat-header-info{
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px 50px 10px 10px;
    border-radius: 10px 10px 100px 10px;
    width: max-content;
}


/* ––––––––––––––––––––––- FOR LATER USE ––––––––––––––––––––––- */ 
/* .dot-settings{
    display: flex;
    gap: 5px;
    margin-right: 20px;
}

.dot{
    width: 5px;
    height: 5px;
    border-radius: 100px;
    background-color: var(--secondary-gray);
} */


/*
.dot-chat-notification{
    background-color: var(--primary-color);
}

.dot-course-notification{
    background-color: var(--primary-red);
}
 */

/* DROP DOWN */
/* .dropdown{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.dropdown .top-bar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.dropdown ul{
    color: var(--primary-gray);
}

.dropdown li:hover{
    color: var(--primary-color);
    font-weight: 700;
    cursor: pointer;
} */

/* SETTINGS ICON */
/* .settings-icon{
    display: flex;
    gap: 3px;
} */