.chat-component{
    grid-area: chat-component;
    background-color: #fff;
    width: fit-content;
    height: fit-content;
    padding: 30px;
    margin: auto auto;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.chat-header-container{
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px 50px 10px 10px;
    border-radius: 10px 10px 100px 10px;
    width: max-content;
    margin: -30px;
}

.chat-header-container h2{
    color:#fff;
}