.chat-component{
    grid-area: chat-component;
    background-color: #fff;
    width: fit-content;
    height: fit-content;
    padding: 30px;
    margin: auto auto;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.chat-header-container{
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px 50px 10px 10px;
    border-radius: 10px 10px 100px 10px;
    width: max-content;
    margin: -30px;


}
.chat-header-container h2{
    color:#fff;
}
.flex_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .messages {
    margin-top: 25px;
  }
  
  .message_sent {
    position: relative;
    width: 50%;
    margin-left: auto;
  }
  
  .message_received {
    position: relative;
    width: 50%;
  }
  
  .message_bubble {
    padding: 12px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .message_sent .message_bubble {
    background-color: #1E88E5;
    color: #fff;
  }
  
  .message_time {
    position: absolute;
    top: 35%;
    left: -62px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.35);
    transform: translateY(-50%);
  }
  
  .message_sent .message_time {
    left: initial;
    right: -62px;
  }
  
  .message_name {
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.55);
    font-size: 13px;
    font-weight: 600;
  }
  
  .message_sent .message_name {
    text-align: right;
  }
  
  .new_message {
    padding-top: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
  
  .new_message_title {
    margin-bottom: 15px;
  }
  .form_input {
    margin-bottom: 20px;
  }

