.sidebar {
    grid-area: sidebar;
    width: 250px;
    height: 100vh;

    background-color: #fff;
    z-index: 1;
}

.sidebar h1 {
    text-align: center;
    margin-top: 20px;
    color: var(--primary-color);
}

.sidebar-chat-container {
    display: grid;
    margin: 35px 10px 0 10px;
    row-gap: 10px;
}